fastapi
uvicorn[standard]
sqlalchemy
alembic
psycopg2-binary
python-dotenv
pydantic
pydantic-settings
python-multipart
passlib[bcrypt]
bcrypt<4.1
python-jose[cryptography]
opencv-python
pillow
pymupdf
pypdf
pytesseract
easyocr
numpy
qrcode
pyzbar
reportlab
sentry-sdk
boto3
